.App {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  flex-direction: column;
  gap: 40px;

  button {
    display: inline-block;
    position: relative;
    padding: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: blue;
  }
}
